[Unit]
Description=Ansible Git Continuous Deployment
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=always
RestartSec=1
ExecStart={{ansible_env.HOME}}/fabricant/.venv/bin/python {{ansible_env.HOME}}/fabricant/ansible_deploy_service.py
WorkingDirectory={{ansible_env.HOME}}/fabricant

[Install]
WantedBy=default.target