include:
  - compose.authentik.yml
  - compose.label-studio.yml

services:
  prometheus:
    image: prom/prometheus:v3.6.0
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus:ro
      - ./prometheus-data:/prometheus:rw
    user: "${USER_ID}:${GROUP_ID}"
    ports:
      - 9090:9090
  
  alertmanager:
    image: quay.io/prometheus/alertmanager:v0.28.1
    container_name: alertmanager
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
    restart: unless-stopped
    volumes:
      - ./alertmanager:/etc/alertmanager:ro
    ports:
      - 9093:9093

  traefik:
    image: traefik:v3.5.4
    container_name: traefik
    restart: always
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-data/letsencrypt:/letsencrypt:z
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myhttpchallenge.acme.httpchallenge=true"
      - "--certificatesresolvers.myhttpchallenge.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myhttpchallenge.acme.email=e4e@ucsd.edu"
      - "--certificatesresolvers.myhttpchallenge.acme.storage=/letsencrypt/acme.json"
      - "--acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.http-catchall.rule=hostregexp(`{host:[a-z-.]+}.ucsd.edu`)"
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    networks:
      - traefik_proxy
  
  # caddy:
  #   image: lucaslorentz/caddy-docker-proxy:2.10.0
  #   container_name: caddy
  #   restart: always
  #   ports:
  #     - 80:80
  #     - 443:443
  #   environment:
  #     - CADDY_INGRESS_NETWORKS=caddy_proxy
  #   networks:
  #     caddy_proxy:
  #       aliases:
  #         - s3.fabricant.ucsd.edu
  #         # - mc.fabricant.ucsd.edu
  #         - auth.fabricant.ucsd.edu
  #         - labeler.e4e.ucsd.edu
  #         - orchestrator.fishsense.e4e.ucsd.edu
  #         - data.smartfin.e4e.ucsd.edu
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ./caddy-data:/data


  # minio:
  #   image: quay.io/minio/minio
  #   container_name: minio
  #   restart: always
  #   volumes:
  #     - ./minio:/data
  #   environment:
  #     MINIO_ROOT_USER: e4e_minio_admin
  #     MINIO_ROOT_PASSWORD_FILE: /run/secrets/minio_admin_password
  #   command: server /data --console-address ":9001"
  #   secrets:
  #     - minio_admin_password
  #   networks:
  #     - caddy_proxy
  #   labels:
  #     caddy_0: s3.fabricant.ucsd.edu
  #     caddy_0.reverse_proxy: "{{upstreams 9000}}"
  #     caddy_1: mc.fabricant.ucsd.edu
  #     caddy_1.reverse_proxy: "{{upstreams 9001}}"
secrets:
  grafana_e4eadmin_password:
    file: .secrets/gf_admin_password.txt
  # minio_admin_password:
  #   file: .secrets/minio_admin_password.txt
networks:
  caddy_proxy:
    external: true
  traefik_proxy:
    external: true

