include:
  - compose.authentik.yml
  - compose.label-studio.yml

services:
  prometheus:
    image: prom/prometheus:v3.6.0
    container_name: prometheus
    command: --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.retention.time=2y --storage.tsdb.retention.size=700GB --storage.tsdb.wal-compression
    restart: unless-stopped
    env_file:
      - .secrets/octoprint_api_key.env
    volumes:
      - ./prometheus:/etc/prometheus:ro
      - ./prometheus-data:/prometheus:rw

  grafana:
    image: grafana/grafana-enterprise:12.2.0
    container_name: grafana
    user: '1000'
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=e4eadmin
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana_e4eadmin_password
    secrets:
      - grafana_e4eadmin_password
    volumes:
      - ./grafana-storage:/var/lib/grafana:rw
      - ./grafana:/etc/grafana:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`dashboard.waiter.ucsd.edu`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls.certresolver=letsencrypt"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"

  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: always
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-data/letsencrypt:/letsencrypt:z
    command:
      - "--log.level=DEBUG"
      # - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencrypt.acme.email=e4e@ucsd.edu"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      # - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory" # Use Let's Encrypt staging server for testing
      - "--providers.docker.network=traefik_proxy"
      - "--metrics.prometheus=true"
    # user: "${USER_ID}:${GROUP_ID}"
    networks:
      traefik_proxy:
        aliases:
          - s3.fabricant.ucsd.edu
          # - mc.fabricant.ucsd.edu
          - auth.fabricant.ucsd.edu
          - labeler.e4e.ucsd.edu
          - orchestrator.fishsense.e4e.ucsd.edu
          - data.smartfin.e4e.ucsd.edu


  # minio:
  #   image: quay.io/minio/minio
  #   container_name: minio
  #   restart: always
  #   volumes:
  #     - ./minio:/data
  #   environment:
  #     MINIO_ROOT_USER: e4e_minio_admin
  #     MINIO_ROOT_PASSWORD_FILE: /run/secrets/minio_admin_password
  #   command: server /data --console-address ":9001"
  #   secrets:
  #     - minio_admin_password
  #   networks:
  #     - caddy_proxy
  #   labels:
  #     caddy_0: s3.fabricant.ucsd.edu
  #     caddy_0.reverse_proxy: "{{upstreams 9000}}"
  #     caddy_1: mc.fabricant.ucsd.edu
  #     caddy_1.reverse_proxy: "{{upstreams 9001}}"
secrets:
  grafana_e4eadmin_password:
    file: .secrets/gf_admin_password.txt
  # minio_admin_password:
  #   file: .secrets/minio_admin_password.txt
networks:
  caddy_proxy:
    external: true
  traefik_proxy:
    external: true

